@{ Layout = null;}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>聊天记录</title>
    <link href="/Scripts/layui/css/layui.css" rel="stylesheet">
    <style>body .layim-chat-main {height: auto;}</style>
    <link href="/css/layim.css" rel="stylesheet" />
</head>
<body>

    <div class="layim-chat-main">
        <ul id="LAY_view">  
            <div id="chatLogMore" class="layim-chat-system"><span>查看更多记录</span></div>
            <li class="layim-chat-mine">
                <div class="layim-chat-user">
                    <img src="http://tva3.sinaimg.cn/crop.0.0.512.512.180/8693225ajw8f2rt20ptykj20e80e8weu.jpg" />
                    <cite><i>2016-12-05 08:31:22</i>纸飞机</cite>
                </div>
                <div class="layim-chat-text">
                    <img alt="[抱抱]" title="[抱抱]" src="http://localhost:6357/Scripts/layui/images/face/25.gif" />
                    <img alt="[心]" title="[心]" src="http://localhost:6357/Scripts/layui/images/face/47.gif" /> 你好啊小美女
                </div>
            </li>
            <li>
                <div class="layim-chat-user">
                    <img src="http://tva3.sinaimg.cn/crop.0.0.512.512.180/8693225ajw8f2rt20ptykj20e80e8weu.jpg" />
                    <cite>Z_子晴<i>2016-12-05 08:31:32</i></cite>
                </div>
                <div class="layim-chat-text">
                    你没发错吧？
                    <img alt="[微笑]" title="[微笑]" src="http://localhost:6357/Scripts/layui/images/face/0.gif" />
                </div>
            </li>
            <li>
                <div class="layim-chat-user">
                    <img src="http://tva3.sinaimg.cn/crop.0.0.512.512.180/8693225ajw8f2rt20ptykj20e80e8weu.jpg" />
                    <cite>Z_子晴<i>2016-12-05 08:31:38</i></cite>
                </div>
                <div class="layim-chat-text">
                    你是谁呀亲。。我爱的是贤心！我爱的是贤心！我爱的是贤心！重要的事情要说三遍~
                </div>
            </li>
            <li>
                <div class="layim-chat-user">
                    <img src="http://tva3.sinaimg.cn/crop.0.0.512.512.180/8693225ajw8f2rt20ptykj20e80e8weu.jpg" />
                    <cite>Z_子晴<i>2016-12-05 08:31:48</i></cite>
                </div>
                <div class="layim-chat-text">
                    注意：这些都是模拟数据，实际使用时，需将其中的模拟接口改为你的项目真实接口。
                    <br />该模版文件所在目录（相对于layui.js）：
                    <br />/css/modules/layim/html/chatlog.html
                </div>
            </li> 
            <li>
                <div class="layim-chat-user">
                    <img src="http://tva3.sinaimg.cn/crop.0.0.512.512.180/8693225ajw8f2rt20ptykj20e80e8weu.jpg" />
                    <cite>Z_子晴<i>2016-12-05 08:31:32</i></cite>
                </div>
                <div class="layim-chat-text">
                    你没发错吧？
                    <img alt="[微笑]" title="[微笑]" src="http://localhost:6357/Scripts/layui/images/face/0.gif" />
                </div>
            </li>
            <li>
                <div class="layim-chat-user">
                    <img src="http://tva3.sinaimg.cn/crop.0.0.512.512.180/8693225ajw8f2rt20ptykj20e80e8weu.jpg" />
                    <cite>Z_子晴<i>2016-12-05 08:31:38</i></cite>
                </div>
                <div class="layim-chat-text">
                    你是谁呀亲。。我爱的是贤心！我爱的是贤心！我爱的是贤心！重要的事情要说三遍~
                </div>
            </li>
            <li>
                <div class="layim-chat-user">
                    <img src="http://tva3.sinaimg.cn/crop.0.0.512.512.180/8693225ajw8f2rt20ptykj20e80e8weu.jpg" />
                    <cite>Z_子晴<i>2016-12-05 08:31:48</i></cite>
                </div>
                <div class="layim-chat-text">
                    注意：这些都是模拟数据，实际使用时，需将其中的模拟接口改为你的项目真实接口。
                    <br />该模版文件所在目录（相对于layui.js）：
                    <br />/css/modules/layim/html/chatlog.html
                </div>
            </li> 
            <li>
                <div class="layim-chat-user">
                    <img src="http://tva3.sinaimg.cn/crop.0.0.512.512.180/8693225ajw8f2rt20ptykj20e80e8weu.jpg" />
                    <cite>Z_子晴<i>2016-12-05 08:31:32</i></cite>
                </div>
                <div class="layim-chat-text">
                    你没发错吧？
                    <img alt="[微笑]" title="[微笑]" src="http://localhost:6357/Scripts/layui/images/face/0.gif" />
                </div>
            </li>
            <li>
                <div class="layim-chat-user">
                    <img src="http://tva3.sinaimg.cn/crop.0.0.512.512.180/8693225ajw8f2rt20ptykj20e80e8weu.jpg" />
                    <cite>Z_子晴<i>2016-12-05 08:31:38</i></cite>
                </div>
                <div class="layim-chat-text">
                    你是谁呀亲。。我爱的是贤心！我爱的是贤心！我爱的是贤心！重要的事情要说三遍~
                </div>
            </li>
            <li>
                <div class="layim-chat-user">
                    <img src="http://tva3.sinaimg.cn/crop.0.0.512.512.180/8693225ajw8f2rt20ptykj20e80e8weu.jpg" />
                    <cite>Z_子晴<i>2016-12-05 08:31:48</i></cite>
                </div>
                <div class="layim-chat-text">
                    注意：这些都是模拟数据，实际使用时，需将其中的模拟接口改为你的项目真实接口。
                    <br />该模版文件所在目录（相对于layui.js）：
                    <br />/css/modules/layim/html/chatlog.html
                </div>
            </li> 
            <li>
                <div class="layim-chat-user">
                    <img src="http://tva3.sinaimg.cn/crop.0.0.512.512.180/8693225ajw8f2rt20ptykj20e80e8weu.jpg" />
                    <cite>Z_子晴<i>2016-12-05 08:31:32</i></cite>
                </div>
                <div class="layim-chat-text">
                    你没发错吧？
                    <img alt="[微笑]" title="[微笑]" src="http://localhost:6357/Scripts/layui/images/face/0.gif" />
                </div>
            </li>
            <li>
                <div class="layim-chat-user">
                    <img src="http://tva3.sinaimg.cn/crop.0.0.512.512.180/8693225ajw8f2rt20ptykj20e80e8weu.jpg" />
                    <cite>Z_子晴<i>2016-12-05 08:31:38</i></cite>
                </div>
                <div class="layim-chat-text">
                    你是谁呀亲。。我爱的是贤心！我爱的是贤心！我爱的是贤心！重要的事情要说三遍~
                </div>
            </li>
            <li>
                <div class="layim-chat-user">
                    <img src="http://tva3.sinaimg.cn/crop.0.0.512.512.180/8693225ajw8f2rt20ptykj20e80e8weu.jpg" />
                    <cite>Z_子晴<i>2016-12-05 08:31:48</i></cite>
                </div>
                <div class="layim-chat-text">
                    注意：这些都是模拟数据，实际使用时，需将其中的模拟接口改为你的项目真实接口。
                    <br />该模版文件所在目录（相对于layui.js）：
                    <br />/css/modules/layim/html/chatlog.html
                </div>
            </li> 
            <li>
                <div class="layim-chat-user">
                    <img src="http://tva3.sinaimg.cn/crop.0.0.512.512.180/8693225ajw8f2rt20ptykj20e80e8weu.jpg" />
                    <cite>Z_子晴<i>2016-12-05 08:31:32</i></cite>
                </div>
                <div class="layim-chat-text">
                    你没发错吧？
                    <img alt="[微笑]" title="[微笑]" src="http://localhost:6357/Scripts/layui/images/face/0.gif" />
                </div>
            </li>
            <li>
                <div class="layim-chat-user">
                    <img src="http://tva3.sinaimg.cn/crop.0.0.512.512.180/8693225ajw8f2rt20ptykj20e80e8weu.jpg" />
                    <cite>Z_子晴<i>2016-12-05 08:31:38</i></cite>
                </div>
                <div class="layim-chat-text">
                    你是谁呀亲。。我爱的是贤心！我爱的是贤心！我爱的是贤心！重要的事情要说三遍~
                </div>
            </li>
            <li>
                <div class="layim-chat-user">
                    <img src="http://tva3.sinaimg.cn/crop.0.0.512.512.180/8693225ajw8f2rt20ptykj20e80e8weu.jpg" />
                    <cite>Z_子晴<i>2016-12-05 08:31:48</i></cite>
                </div>
                <div class="layim-chat-text">
                    注意：这些都是模拟数据，实际使用时，需将其中的模拟接口改为你的项目真实接口。
                    <br />该模版文件所在目录（相对于layui.js）：
                    <br />/css/modules/layim/html/chatlog.html
                </div>
            </li> 
            <li>
                <div class="layim-chat-user">
                    <img src="http://tva3.sinaimg.cn/crop.0.0.512.512.180/8693225ajw8f2rt20ptykj20e80e8weu.jpg" />
                    <cite>Z_子晴<i>2016-12-05 08:31:32</i></cite>
                </div>
                <div class="layim-chat-text">
                    你没发错吧？
                    <img alt="[微笑]" title="[微笑]" src="http://localhost:6357/Scripts/layui/images/face/0.gif" />
                </div>
            </li>
            <li>
                <div class="layim-chat-user">
                    <img src="http://tva3.sinaimg.cn/crop.0.0.512.512.180/8693225ajw8f2rt20ptykj20e80e8weu.jpg" />
                    <cite>Z_子晴<i>2016-12-05 08:31:38</i></cite>
                </div>
                <div class="layim-chat-text">
                    你是谁呀亲。。我爱的是贤心！我爱的是贤心！我爱的是贤心！重要的事情要说三遍~
                </div>
            </li>
            <li>
                <div class="layim-chat-user">
                    <img src="http://tva3.sinaimg.cn/crop.0.0.512.512.180/8693225ajw8f2rt20ptykj20e80e8weu.jpg" />
                    <cite>Z_子晴<i>2016-12-05 08:31:48</i></cite>
                </div>
                <div class="layim-chat-text">
                    注意：这些都是模拟数据，实际使用时，需将其中的模拟接口改为你的项目真实接口。
                    <br />该模版文件所在目录（相对于layui.js）：
                    <br />/css/modules/layim/html/chatlog.html
                </div>
            </li> 
         </ul>
    </div>

    <div id="LAY_page" style="margin: 0 10px;"></div>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script>
        $(function () {
            $('#chatLogMore').on('click', function () {
                console.log('查看更多');
            })
        })
        
    </script>
</body>
</html>
